

/* container */

.container h1 {
    color: rgb(24, 89, 143);
    font-style: italic;
    padding-bottom: 1rem ;
    margin: 1rem;
}
    
 .container h2 {
     color: rgb(96, 97, 97);
     font-size:30px;
 }
 .container h3 {
     color: rgb(96, 97, 97);
     text-align: center;
     font-size: 23px;
     font-style: italic;
     padding: 0.5rem;
 }

 .container h4 {
    color: rgb(24, 89, 143);
    font-size: 18px;
    font-style: oblique;
 }

 .container p {
     color: rgb(24, 89, 143);
     font-size: 18px;
     font-style: oblique;
 }

  /* botton */

  button.btn.btn-primary {
    margin:1rem 0 ;
}

.radio-button {
    text-align: center;
    color: rgb(24, 89, 143);
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.radio-button h3{
    color: rgb(24, 89, 143);
     text-align: center;
     font-size: 23px;
     font-style: italic bold;
     padding: 0.5rem;
     margin: 4rem;
}

/*footer*/

  
#footer p{
    color: #fff; 
    background-color: rgb(24, 89, 143);
    text-align: center;
    font-style: italic;
    padding: 0.3rem;
}

img {
    margin: 4rem  ;
    margin-right: 0;
    max-width: 55%;
}
 
/* main */

.main {
    min-height: 100vh;
}
 